* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background: rgb(239, 240, 243);
  width: 100%;
}

.inner-container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}
.left-side {
  margin-top: 200px;
  flex-basis: 48%;
}

.facebook-logo {
  width: 295px;
}

.Facebook-caption {
  font-size: 28px;
  margin-left: 11px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-top: 130px;
}

.login-box {
  width: 350px;
  background: #fff;
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  margin-left: 60px;
  padding: 20px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  box-shadow: 0px 15px 26px -16px rgba(0, 0, 0, 0.35);
}

.right-side input {
  width: 300px;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 16px;
  background: transparent;
  border: 1px solid rgb(217, 217, 217);
  color: rgb(162, 158, 158);
}

.login-btn {
  width: 350px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
  font-size: 16px;
  background: rgb(88, 88, 189);
  color: white;
  font-size: 22px;
  padding: 12px 0;
  margin-top: 5px;
}
.forgot-pass {
  background: transparent;
  margin-top: 7px;
  width: 350px;
  text-align: center;
  border-bottom: 1px solid rgb(177, 177, 177);
  padding-bottom: 23px;
}
.forgot-pass a {
  text-decoration: none;
  color: rgb(115, 115, 211);
  font-size: 14px;
  background: bottom;
}

.sing-up-btn {
  margin-top: 15px;
  background: bottom;
}

.new-account-btn {
  width: 200px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  background: #42b72a;
  color: white;
  border: none;
  transition: 0.3s;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.new-account-btn:hover{
    background: #3aa525; 
}

footer {
  height: 25vh;
width: 75%;
margin: auto;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


.languages {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    padding: 0 5px;
    border-bottom: 1px solid rgb(197, 197, 197);
    height: 25px;
}

.languages div{
    background: white;
    font-size: 12px;
    color: gray;
}

.functions{
    display: flex;
    gap: 20px;
    font-size: 12px;
    color: gray;
    padding: 0 5px;
    margin-top: 10px;
}

.for-margin{
    margin-top: 5px;
}

.copywrite{
    margin-top: 20px;
}
